@font-face {
  font-family: 'Brandon Grot W01 Light';
  src: local('Brandon Grot W01 Light'), url('./fonts/Brandon Grot W01 Light/Brandon Grot W01 Light.ttf') format('truetype');
}

body {
  background-color: #40513B;
  margin: 0;
  font-family: Brandon Grot W01 Light, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContent {
    box-shadow: 5px 5px 15px black;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
}

p, a {
    font-size: 1.6rem;
}

.grid, .row, .col {
    padding:0;
    margin: 0;
}

.whiteSection {
    background-color: white;
}

.container-fluid {
    padding: 0;
}

.col-lg-auto {
    padding-left: 0px;
    padding-right: 0px;
}

ul {
    list-style-type: none;
}

.greenWithWhiteText {
    background: #9DC08B;
    color: rgb(255,255,255);
}

.greenText {
    color: #609966;
}

.darkGreenText {
    color: #40513B;
}

a:hover {
    color:#c47f00;
}

li {
    padding-bottom: 1rem;
}

.whiteLink {
    color: white;
    text-decoration: none;
}

.whiteText {
    color: white;
}

.xPadding 
{
    padding-left:2rem;
    padding-right: 2rem;
}

.yPadding 
{
    padding-top:1rem;
    padding-bottom: 1rem;
}

.smallFont
{
    font-size: 1.25rem;
}